*{
    font-family: "Chakra Petch", sans-serif;
}

body {
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(0, 28, 73), rgb(0, 28, 154), rgb(167, 208, 255));
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

h1 {
    text-align: center;
    color: #fff; /* สีน้ำเงิน */
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
}

.btn {
    flex: 1;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #fff; /* เส้นขอบสีน้ำเงิน */
    color: #fff; /* สีน้ำเงิน */
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 200px; /* กำหนดความกว้าง */
    box-sizing: border-box; /* เพื่อให้ padding และ border ไม่นับเข้าไปใน width */
}

.btn:hover {
    background-color: #007bff; /* พื้นหลังสีน้ำเงินเมื่อโฮเวอร์ */
    color: #fff; /* ข้อความสีขาวเมื่อโฮเวอร์ */
}

/* Popup */
.popup {
    display: none; /* ซ่อน Popup เริ่มต้น */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* สีพื้นหลังดำโปร่งใส */
    z-index: 999; /* ให้ Popup อยู่ข้างบน */
}

.popup-content {
    background-color: #fff; /* พื้นหลังของ Popup */
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=password] {
    width: calc(100% - 20px); /* คำนวณให้รอบขอบพื้นที่เท่ากับ 100% ลบขอบเขตของ input */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: calc(100% - 20px); /* คำนวณให้รอบขอบพื้นที่เท่ากับ 100% ลบขอบเขตของ button */
    padding: 10px;
    background-color: #007bff; /* สีน้ำเงิน */
    color: #fff; /* สีข้อความขาว */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* สีเข้มขึ้นเมื่อโฮเวอร์ */
}
.footer {
    border: #fff;
    color: #fff; /* สีข้อความขาว */
    text-align: left;
    border-top: 1px solid #fff; /* เพิ่มเส้นขอบด้านบน */
    padding-top: 10px; /* เพิ่มระยะห่างด้านบน */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    font-size: 8px; /* ลดขนาดตัวหนังสือเป็น x-small */
    position: absolute; /* ติดตั้งเป็นตำแหน่งแบบ absolute */
    width: 100%; /* กว้างเต็มขอบ */
    bottom: 0; /* จัดไปที่ขอบล่างของหน้าเว็บ */
    left: 0; /* จัดไปที่ขอบซ้ายของหน้าเว็บ */
    right: 0;
    line-height: 1.5; /* กำหนดความสูงของบรรทัด */
    margin: 0; /* ไม่มีการเว้นระยะห่าง */
}
/* สไตล์ของ Modal */
.modal {
    display: none; /* ซ่อนตั้งแต่แรก */
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 300px; /* กำหนดความกว้าง */
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 10px; /* กำหนดรูปทรงของ Modal */
    font-size: 13px;
  }
.p10 {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    position: absolute; /* ตั้งให้อยู่ใต้ Modal */
    bottom: 10px; /* จัดตำแหน่งด้านล่างของ Modal 10px */
    left: 50%; /* จัดตำแหน่งไปทางซ้ายของ Modal ที่ 50% */
    transform: translateX(-50%); /* ขยับข้อความไปทางซ้าย 50% */
    margin: 0; /* ลบ margin */
    line-height: 0.5;
}
.boss {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    position: absolute ; /* ตั้งให้อยู่ใต้ Modal */
    top: 20px; /* จัดตำแหน่งด้านล่างของ Modal 10px */
    left: 50%; /* จัดตำแหน่งไปทางซ้ายของ Modal ที่ 50% */
    transform: translateX(-50%); /* ขยับข้อความไปทางซ้าย 50% */
    margin: 0; /* ลบ margin */
    line-height: 0.5;
}
.link-danger {
    color: #fefefe;
}
@keyframes fadeOutIn {
    0% { opacity: 1; } /* รูปสว่าง */
    50% { opacity: 0; } /* รูปมืด */
    100% { opacity: 1; } /* รูปสว่าง */
}

.animate-credit {
    animation: fadeOutIn 5s infinite;
}
.credit-container img {
    width: 100px; /* ความกว้างของรูปภาพ */
    height: auto; /* ความสูงของรูปภาพจะปรับตามอัตราส่วน */
}
.tischa {
    text-align: center;
    color: #fff;

}
.credit-container {
    position: relative;
    width: 100px;
    height: auto;
    margin-right: 10px;
    animation: fadeImage 5s infinite;
}

@keyframes fadeImage {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

.permission-btn {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
@keyframes waveAnimation {
    0% {
        background-position: 0 50%; /* ตำแหน่งเริ่มต้นของพื้นหลัง */
    }
    100% {
        background-position: 100% 50%; /* ตำแหน่งสุดท้ายของพื้นหลัง (ขยับไปทางขวา) */
    }
}

.element-with-wave-background {
    background-image: linear-gradient(to right, #ffffff 50%, #f0f0f0 50%);
    background-size: 200% 100%; /* ขนาดของพื้นหลัง */
    animation: waveAnimation 2s linear infinite; /* 2s คือระยะเวลาที่การเคลื่อนไหวจะใช้เพื่อทำให้พื้นหลังขยับเป็นลูกคลื่น */
}
/* CSS เพื่อสร้างการเลื่อนข้อความทางขวาไปทางซ้าย */
#scroll-container {
    border: 0px solid #fff; /* กำหนดเส้นขอบของ container เป็นเส้นขอบหนา 3px สีดำ */
    border-radius: 5px; /* กำหนดรูปร่างของ container เป็นรูปมนเป็นเลี้ยว 5px */
    overflow: hidden; /* กำหนดให้ข้อความที่เลื่อนเข้าไปใน container ที่มีขนาดเกินขอบจะถูกซ่อน */
}

#scroll-text {
    text-align: left; /* จัดวางข้อความที่จะเลื่อนไปทางขวาของ container */
    font-size: smaller;
    /* กำหนดการเคลื่อนที่ของข้อความด้วย animation */
    -moz-transform: translateX(-100%); /* สำหรับ Firefox */
    -webkit-transform: translateX(-100%); /* สำหรับ Chrome */
    transform: translateX(-100%);

    /* กำหนด animation ชื่อ my-animation ซึ่งจะเคลื่อนที่เป็นเส้นตรง (linear) โดยทำซ้ำอย่างไม่มีที่สิ้นสุด (infinite) */
    -moz-animation: my-animation 15s linear infinite; /* สำหรับ Firefox */
    -webkit-animation: my-animation 15s linear infinite; /* สำหรับ Chrome */
    animation: my-animation 15s linear infinite;
    color: #fff;
}

/* กำหนด keyframes ของ animation เพื่อกำหนดการเคลื่อนที่ของข้อความ */
@keyframes my-animation {
    from {
        -moz-transform: translateX(100%); /* เริ่มต้นที่ตำแหน่งซ้ายสุดของ container */
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%); /* สิ้นสุดที่ตำแหน่งขวาสุดของ container */
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.credit-container {
    position: relative;
    width: 100px;
    height: auto;
    margin-right: 10px;
    animation: fadeImage 5s infinite;
}

@keyframes fadeImage {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}
.ts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: small;
}

.bf {
    background-color: #fff; /* สีพื้นหลังของกล่อง */
    border: 3px solid ##757575; /* ขอบของกล่อง */
    padding: 20px; /* ระยะห่างภายในกล่อง */
}
.rc{
    text-align: center;
}
.credit-container img {
    width: 150px; /* เพิ่มความกว้างของรูปภาพ */
    height: auto; /* ให้ความสูงของรูปภาพปรับอัตราส่วน */
}

  