*{
    font-family: "Chakra Petch", sans-serif;
}
.navbar-custom {
    background-color: #0056b3;
    padding: 1rem;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #fff;
}

.navbar-custom .nav-link:hover {
    color: #f8f9fa;
    transform: translateY(-2px);
}
.navbar-toggler {
    border-color: #FA4616; /* Set the border color here */
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FA4616' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.hero-section {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.social-icons {
    font-size: 24px;
    margin: 10px 0;
}

.social-icons a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #FA4616;
}
.footer {
    background-color: #333;
    padding: 2rem 0;
}

.footer p {
    margin: 0;
    color: #cccccc;
}

.footer a {
    color: #cccccc;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
