* {
    font-family: "Chakra Petch", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #FA4616;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    color: #fff;
    text-align: left;
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 8px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1.5;
    margin: 0;
    background-color: #7B8189;
}

.animate-credit {
    animation: fadeOutIn 5s infinite;
}

.credit-container img {
    width: 100px;
    height: auto;
}

.tischa {
    text-align: center;
    color: #fff;
}

.credit-container {
    position: relative;
    width: 100px;
    height: auto;
    margin-right: 10px;
    animation: fadeImage 5s infinite;
}

@keyframes typing {
    from {
      width: 0;
    }
  }
  
  .GG {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 36px;
    overflow: hidden;
  }
  
  .GG span {
    display: inline-block;
    animation: typing 3s steps(28, end) forwards;
  }
  
  
  

.container {
    text-align: center;
    color: #fff;
}

.text-left {
    text-align: left;
    display: inline-block;
    z-index: 2;
    top: 10px;
}

.rc {
    text-align: center;
    z-index: 2;
}

.button-34 {
    background: #a72c32;
    border-radius: 999px;
    box-shadow: #7B8189 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin: 10px;
    margin-bottom: 10px;
}

.container1 {
    background-color: rgba(254, 209, 16);
    padding: 5vw;
    border-radius: 5vw;
    width: 90%;
    height: 300px;
    max-width: 300px;
    max-height: 250px;
    bottom: 10px;
    margin: 25px;
}
.container1 p {
    margin: auto;
}
/* CSS สำหรับคอมพิวเตอร์ */
@media screen and (min-width: 768px) {
    .container1 {
        width: 350px;
        max-width: 350px;
        height: 150px;
    }
}

/* CSS สำหรับโทรศัพท์มือถือ */
@media screen and (max-width: 767px) {
    .container1 {
        width: auto;
        max-width: 100vh;
        height: 259px;
    }
}
.red{
    color: #FA4616;
}